documents/Gaia_binaries.aux
documents/Gaia_binaries.pdf
documents/Gaia_binaries.log
documents/Gaia_binaries.synctex.gz
documents/figures
documents/literature
figures
literature
notebooks/.ipynb_checkpoints
notebooks/density_contour.py notebooks/density_contour.pyc
data/GUMS
data/LB07
data/TDSC
